<html ng-app="app">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>


    <!--<script src="../staapp.js2.js"></script>-->
    <script src="{{url_for('static', filename='app.js')}}"></script>

      <!-- CLUSTERING MARKERS-->
      <script src="{{ url_for('static', filename='libraries/markerclusterer.js') }}">
      </script>

    <!-- GOOGLE MAPS -->
    <script src="http://maps.googleapis.com/maps/api/js?language=en&key=AIzaSyBieW1k2PuXWUliya6U_nXha7phVEZh_Xc"></script>


</head>

<body ng-controller="MyCtrl">
  <!-- <input type="text" placeholder="Type address here" ng-model="txtAddress" /> -->
  <!-- <button ng-click="seachAddress()">SEARCH</button> -->

  <!--<ul>-->
  	<!--<li>=)</li>-->
  	<!--<li ng-repeat="point in points">-->
        <!--[[point.apt_id]] * [[point.LAT]] * [[point.LONG]]</li>-->
  <!--</ul>-->

  <!--<div class="row">-->
      <!--<div class="col-md-12">-->
          <google-map id="googleMap" style="background-color: #00B7FF;width:100%;height:100%;">
              This will disappear<br/>SAMPLE CONTENT
          </google-map>
      <!--</div>-->
  <!--</div>-->

</body>
</html>