<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css">

    <!-- GOOGLE MAPS -->
    <script src="http://maps.googleapis.com/maps/api/js?language=en&key=AIzaSyBieW1k2PuXWUliya6U_nXha7phVEZh_Xc"></script>
</head>

<body>
    <h1>Hey</h1>
  <!--<div class="row">-->
      <!--<div class="col-md-10 col-md-offset-1">-->
          <!--<google-map id="googleMap" style="background-color: #00B7FF;width:1024px;height:500px;">-->
              <!--This will disappear<br/>SAMPLE CONTENT-->
          <!--</google-map>-->
      <!--</div>-->
  <!--</div>-->


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>-->

</body>
</html>